*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
    scroll-behavior: smooth
    
}
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
.container{
    max-width: 1280px;
    width: 100%;
    padding: 0 20px;
    margin: 0 auto;
}
@import 'aos/dist/aos.css';
